:root {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    color: #f6f6f6;
    background-color: #2f2f2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#root {
    margin-top: 50px;
}

.container {
    margin: 0 auto;
    width: calc(100% - 100px);
    min-width: 100px;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    background: #fff1;
    box-shadow: 2px 3px 8px #000a;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #24c8db;
}

h1,
h2,
h3 {
    text-align: center;
    padding: 1rem;
}

p {
    padding: 0.1rem 0.5rem;
}

input,
button,
select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: #ffffff;
    background-color: #0f0f0f98;
    transition: border-color 0.25s;
    text-align: center;
    margin-bottom: 0.5rem;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}
button:active {
    border-color: #396cd8;
    background-color: #0f0f0f69;
}

input,
button {
    outline: none;
}
